<mat-card class="mat-elevation-z0">
    <h2>Create invoice</h2>
    <form style="margin-top: 25px;" [formGroup]="invoiceForm">
        <mat-list-item role="listitem">
            <mat-form-field>
                <mat-label>Invoice ID (Alphanumeric)</mat-label>
                <input matInput formControlName="invoice_id" placeholder="Invoice ID">
            </mat-form-field>
        </mat-list-item>
        <mat-list-item role="listitem">
            <mat-form-field class="input-form-full-width" appearance="standard">
                <mat-label>Choose client</mat-label>
                <mat-select formControlName="client_id">
                    <mat-option *ngFor="let each of clients" [value]="each.id">{{each.user.email}}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-list-item>
        <mat-list-item role="listitem">
            <mat-form-field class="input-form-full-width" appearance="standard">
                <mat-label>Choose Project</mat-label>
                <mat-select formControlName="project_id">
                    <mat-option *ngFor="let each of projects" [value]="each.id">{{each.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-list-item>
        <mat-list-item role="listitem">
            <mat-form-field class="input-form-full-width" appearance="standard">
                <mat-label>Choose Currency</mat-label>
                <mat-select formControlName="currency">
                    <mat-option *ngFor="let each of currency" [value]="each">{{each}}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-list-item>
        <mat-list-item role="listitem">
            <mat-form-field class="input-form-full-width" appearance="standard">
                <input matInput type="number" formControlName="amount" placeholder="Amount">
            </mat-form-field>
        </mat-list-item>
        <div style="display: flex; justify-content:space-between">
            <div >
                <button mat-flat-button color="primary" (click)="save()">
                    Save
                </button>
            </div>
        </div>
    </form> 
    <div *ngIf="savedDetails" class="p">
        <p *ngIf="savedDetails.id">
            Direct URL: <a href="/invoice/{{savedDetails.id}}">Click</a>
        </p>
        <p *ngIf="savedDetails.link">
            Short URL: <a href="{{savedDetails.link}}">Click</a>
        </p>
    </div>
</mat-card>
