<div class="invoice-padding">
    <mat-spinner *ngIf='isLoading' color="primary" diameter="25" mode="indeterminate"></mat-spinner>
    <div class="invoice-box" *ngIf="invoice_details; else elseBlockInvoice">
        <table>
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="favicon.ico" alt="Company logo" style="width: 100%; width: 35px" />
                            </td>

                            <td>
                                Invoice #: {{invoice_details.invoice_id}}<br />
                                Created: {{invoice_details.created_on | date: 'dd-MM-yyyy'}}<br />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr *ngIf="invoice_details.client">
                            <td>
                                {{invoice_details.client.company}},{{invoice_details.client.country}}<br />
                                {{invoice_details.client.city}}<br />
                                {{invoice_details.client.postal_code}}<br />
                            </td>

                            <td *ngIf="invoice_details.client.user">
                                {{invoice_details.client.user.first_name}}<br />
                                {{invoice_details.client.user.email}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="heading">
                <td>Payment Method</td>
                <td>Credit Card</td>
            </tr>

            <tr class="details">
                
            </tr>

            <tr class="heading">
                <td>Item</td>

                <td>Price</td>
            </tr>

            

            <tr class="item last">
                <td>{{invoice_details.project.name}}</td>
                <td>{{invoice_details.currency}} {{invoice_details.amount}}</td>
            </tr>

            <tr class="total">
                <td></td>

                <td>Total: {{invoice_details.currency}} {{invoice_details.amount}}</td>
            </tr>
        </table>
        <p>
            <button mat-flat-button color="primary" *ngIf="invoice_details.status == 'pending'; else elseBlock" (click)="makePayment(invoice_details.amount, invoice_details.currency, invoice_details.client.user.email, invoice_details.id)">
                Pay
            </button>
            <ng-template #elseBlock>
                <button mat-flat-button color="primary" disabled>
                    Paid
                </button>
            </ng-template>
        </p>
    </div>
    <ng-template #elseBlockInvoice>
        Invoice details are not available right now.
    </ng-template>
</div>