<p *ngIf="userDetails" class="p">Logged in: </p>
<p *ngIf="userDetails" class="p">{{userDetails.email}}</p>
<p *ngIf="userDetails && userDetails.is_staff" class="p">owner/head: {{userDetails.is_staff}}</p>
