<mat-toolbar color="primary">
    <mat-toolbar-row>
        <mat-icon>account_balance_wallet</mat-icon>
       <span>Finanz</span>
       <span class="spacer"></span>
       <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="userDetails && userDetails.is_staff">
           <mat-icon>add</mat-icon>
       </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/user" disabled>Create User</button>
            <button mat-menu-item routerLink="/client" disabled>Create Client</button>
            <button mat-menu-item routerLink="/project" disabled>Create Project</button>
            <button mat-menu-item routerLink="/payment" disabled>Create Payment</button>
            <button mat-menu-item routerLink="/invoice">Create Invoice</button>
        </mat-menu>
       <a mat-icon-button routerLink="/dashboard">
            <mat-icon>dashboard</mat-icon>
        </a>
       <a mat-icon-button routerLink="/signout">
            <mat-icon>logout</mat-icon>
        </a>
    </mat-toolbar-row>
 </mat-toolbar>
<router-outlet></router-outlet>
