<mat-card class="mat-elevation-z0">
    <form style="margin-top: 25px;" [formGroup]="loginForm">
        <mat-list-item role="listitem">
            <mat-form-field appearance="outline">
                <mat-label>User email</mat-label>
                <input matInput formControlName="username" placeholder="Enter User email">
            </mat-form-field>
        </mat-list-item>
        <mat-list-item role="listitem">
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type='password' formControlName="password" placeholder="Enter Password">
            </mat-form-field>
        </mat-list-item>
        <div style="display: flex; justify-content:space-between">
            <div >
                <button mat-flat-button color="primary" (click)="signin()">
                    Sign In
                </button>
            </div>
        </div>
    </form> 
</mat-card>